<h2>Cunstomers</h2>
  <table class="table">
   <thead>
    <tr>
      <th>Name</th>

    </tr>
   </thead>
  <tbody>
    <% @customer.each do |customer| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to "詳細",admin_customer_path(customer.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>